{% extends "layout.html" %}


{% block detail %}
  <div class="entry-list single">
                      <article>
                          <h1>{{ entry.Title }}</h1>
                          <time datetime="{{entry.date}}">{{ entry.date }}</time>
                          <div class="entry">
                              <h3>Time Spent: </h3>
                              {% if entry.Time_Spent > 1 %}
                                <p>{{ entry.Time_Spent }} Hours</p>
                              {% else %}
                                <p>{{ entry.Time_Spent }} Hour</p>
                              {% endif %}
                          </div>
                          <div class="entry">
                              <h3>What I Learned:</h3>
                                {% if entry.What_You_Learned %}
                                       {% for line in entry.What_You_Learned.split('\n') %}
                                           <p>{{ line }}</p>
                                       {% endfor %}
                                {% endif %}
                          </div>
                          <div class="entry">
                              <h3>Resources to Remember:</h3>
                              <ul>
                                {% if entry.Resources_to_Remember %}
                                       {% for line in entry.Resources_to_Remember.split('\n') %}
                                           <li><a href="#">{{ line }}</a></li>
                                       {% endfor %}
                                {% endif %}
                              </ul>
                          </div>
                          <div class="entry">
                              <h3>Tags:</h3>
                                <p>{{ entry.tags }}</p>
                          </div>
                      </article><br><br><br>

              <div class="edit">
                  <p><a href="{{ url_for('edit', id=entry.entry_id) }}">Edit Entry</a></p>
              </div>
              <div class="delete">
              <p><a href="{{ url_for('delete', id=entry.entry_id) }}">Delete Entry</a></p>
              </div>
  </div>
{% endblock %}
